.loader-container {
    color: red;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: 5px;
}

.listing-textarea-container textarea {
    width: 100%;
    padding: 10px 10px;
}

.listing-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

    .listing-checkbox-container span {
        font-weight: bold;
    }

.listing-textbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

    .listing-textbox-container span {
        min-width: 100px;
        font-weight: bold;
    }

.listing-av-checkbox-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.listing-av-item {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.listing-av-checkbox-container-heading {
    /* margin-bottom:8px;*/
    font-weight: bold;
}

.listing-av-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    margin-top:15px;
}

.submit_property .search-propertie-filters{
    margin-left:15px;

}
.listing-txt-name{
    width:80%;
    height:35px;

}

.region-container{
    margin-bottom:15px;
}

/*
MuiOutlinedInput-input
*/

.MuiAutocomplete-input {
    height: 30px !important;
}

.listing-created-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.listing-createdbutton-container{
    display:flex;
    justify-content:center;
    gap:10px;
}
.listing-created-successlabel{
    font-weight:bold;
    letter-spacing:8px;
    font-size:xx-large;
}

.search-form-group,
.MuiInputLabel-root,
.MuiButtonBase-root,
.MuiOutlinedInput-input,
.MuiAutocomplete-option {
    font-size: 12px !important;
}
    
.search-form-group span{
    font-weight:bold !important;
}

.newlisting-container {
        display: flex;
        gap: 2px;
        justify-content: flex-start;
        align-items: center;
}
   
.newlisting-container input[type=text]{
     max-width:150px !important;
}